<div class="portfolio">
    <h2>PORTFOLIO COMPONENT</h2>

    <div class="d-flex justify-content-center align-items-center my-3">
        <div class="line me-3"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3"></div>
    </div>

    <div class="container mb-5">
        <div class="row g-5">
            <div class="col-md-4">
                <div class="position-relative image-div" (click)="getSrc(image1 , large , largediv)">
                    <img #image1 src="../../assets/image/poert1.png" class="w-100 rounded-2 " alt="">
                    <div class="cover rounded-2">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="position-relative image-div" (click)="getSrc(image2 , large , largediv)">
                    <img #image2 src="../../assets/image/port2.png" class="w-100 rounded-2 " alt="">
                    <div class="cover rounded-2">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="position-relative image-div" (click)="getSrc(image3 , large , largediv)">
                    <img #image3 src="../../assets/image/port3.png" class="w-100 rounded-2 " alt="">
                    <div class="cover rounded-2">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="position-relative image-div" (click)="getSrc(image4 , large , largediv)">
                    <img #image4 src="../../assets/image/poert1.png" class="w-100 rounded-2 " alt="">
                    <div class="cover rounded-2">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="position-relative image-div" (click)="getSrc(image5 , large , largediv)">
                    <img #image5 src="../../assets/image/port2.png" class="w-100 rounded-2 " alt="">
                    <div class="cover rounded-2">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="position-relative image-div" (click)="getSrc(image6 , large , largediv)">
                    <img #image6 src="../../assets/image/port3.png" class="w-100 rounded-2 " alt="">
                    <div class="cover rounded-2">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div #largediv class="large-img d-none">
        <img #large [src]="currentSrc" class="large-image position-relative" alt="">
        <i (click)="disAppearLargeDiv(largediv)" class="fa-regular fa-circle-xmark fa-2xl icon"></i>
    </div>
</div>
