.home {
  margin-top: 90px;
  padding-top: 35px;
}

div {
  background-color: #1abc9c;
}

img {
  width: 18.5%;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  padding-top: 40px;
}

.line {
  height: 4px;
  width: 80px;
  background-color: #fff;
}
